@media screen and (max-width: 600px) {
   /* Header */
   .logo a{
      font-size: 25px;
   }
   .links{
      display: none;
   }
   .dropdown{
      display: block;
   }
   .dropdown button{
      display: block;
   }
   /* Dashboard */
   .graficos{
      flex-direction: column;
   }
   .graficos #grafico{
      width: 100%;
   }
   .graficos #grafico2{
      width: 80%;
   }
   .dash_father{
      flex-direction: column;
      height: 600px;
   }
   .dash_father .dash_container{
      width: 100%;
   }
   /* Header table */
   .grid-header{
      flex-direction: column;
   }
   .wrapper{
      justify-content: space-between;
      width: 100%;
   }
   .sbx-custom{
      width: 100%;
   }
   /* tables */
   thead{
      display: none;
   }
   tbody{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   .container-grid .itens{
      position: relative;
      font-size: 15px;
      padding: 10px;
      display: block;
      text-align: right;
      box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.3);
   }
   .container-grid .itens::before{
      content: attr(data-title);
      cursor: text;
      position: absolute;
      left: 0;
      display: block;
      text-indent: 10px;
      font-weight: 600;
   }
   tbody tr{
      border-radius: 5px;
      display: block;
      width: 100%;
      margin-bottom: 15px;
      box-shadow:  0px 0px 9px 0px #00000040;
   }
   tbody tr:last-child{
      margin-bottom: 0px;
   }
   /* modal */
   .conteudo-modal{
      width: 70%;
      max-height: max-content;
   }
   .input_row{
      flex-direction: column;
      padding: 10px 15px;
   }
   .col-12{
      display: flex;
   }
   .btn{
      width: 100%;
   }
}